.button {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  padding: 7px 12px 8px;
  text-decoration: none;
  color: white;
  background-color: #0f77ff;
  box-shadow: 0px 0px #e7f2ff;
  transition: all 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 10px 11px #e7f2ff;
  }
}
